@page "/athlete/dashboard"

@inject HttpClient _httpClient;
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService _localStorage;

<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="9" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Star" Class="mx-4" Style="color: #ffdb00; width: 54px; height: 54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Favorite Universities</MudText>
                <MudText Typo="Typo.h5">@_favoriteUniversities</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="9" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.School" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1"  Class="mud-text-secondary mb-n1">Qualify Universities</MudText>
                <MudText Typo="Typo.h5">@_qualifyUniversities</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="9" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Received Emails</MudText>
                <MudText Typo="Typo.h5">0</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="9" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Coaches Views</MudText>
                <MudText Typo="Typo.h5">@_coachesViews</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="8">
        <MudPaper Elevation="9" Class="pa-4" Style="height:300px;">
            Coming soon!
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Elevation="9" Class="pa-4" Style="height:300px;">
            Coming soon!
        </MudPaper>
    </MudItem>
</MudGrid>